node_modules/

dist/
build/
out/

.env
.env.test
.env.production
.env.local

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.vite/

coverage/

.vscode/
.idea/
.DS_Store
Thumbs.db

/src/generated/prisma